h1 {
    text-align: center;
    font-family: cursive;
}

p {
   font-family: cursive;
}

small {
   color: blue
}

body {
    background-image: url("img_tree.png");
    background-repeat: no-repeat;
}